

<div class="container">
  <img src="men.png" alt="Мужик">
  <div class="formBackground"  *ngIf="user && user.userTraining">
    <h3 class="title">{{user.userTraining[index].trainingName}} </h3>
    <ul class="ul">
        <dl *ngFor="let exercise of user.userTraining[index].userExercises">
          <button class="trainingName" (click)="choice(exercise)"  routerLink="/exerciseView/{{user.userName}}">
              {{exercise.exerciseName}}
          </button>
          <button class="buttonDelete" [hidden]="createMode" (click)="deleteExercise(exercise)"></button>
        </dl>
    </ul>

    <button class="button" [hidden]="!createMode" (click)="isCreateMode()" >Create Mode</button>

    <div class="form" [hidden]="createMode">
      <form #myForm="ngForm" (ngSubmit)="finish(exerciseName.value, param1.value, param2.value, +count.value)">
         <p>
            Введите название упражнения:
            <input [ngModel] name="exerciseName" placeholder="название" #exerciseName>
          </p>
          <p>
            Укажите параметр 1:
            <input [ngModel] name="param1" placeholder="параметр 1" #param1>
          </p>
          <p>
            Укажите параметр 2:
            <input [ngModel] name="param2" placeholder="параметр 2" #param2>
          </p>
          <p>
            Сколько будет подходов?:
            <input [ngModel] name="count" placeholder="количество" #count>
          </p>

          <button class="button" type="submit">Finish</button>
      </form>
     </div>

  </div>

</div>
