
<div class="container" *ngIf="state.getIsMobile()">
  <img src="men.png" alt="Мужик">
  <button class="exit" (click)="exit()" routerLink="/">Выйти</button>
  <button class="back" (click)="back()"></button>
  <div class="formBackground"  *ngIf="user && user.userTraining">
    <h3 class="title">{{user.userTraining[index].trainingName}} </h3>
    <ul class="ul">
        <dl *ngFor="let exercise of user.userTraining[index].userExercises">
          <button class="trainingName" (click)="choice(exercise)"  routerLink="/exerciseView/{{user.userName}}">
              {{exercise.exerciseName}}
          </button>
          <button class="buttonDelete" [hidden]="createMode" (click)="deleteExercise(exercise)"></button>
        </dl>
    </ul>

    <button class="button" [hidden]="!createMode" (click)="isCreateMode()" >Доб./Уд. Упражнение</button>

    <div class="form" [hidden]="createMode">
      <form #myForm="ngForm" (ngSubmit)="finish(exerciseName.value, param1.value, param2.value, +count.value)">
         <p>
            Введите название упражнения:
            <input [ngModel] name="exerciseName" placeholder="название" #exerciseName>
          </p>
          <p>
            Укажите 1-й параметр измерения:
            <input [ngModel] name="param1" placeholder="параметр 1" #param1>
          </p>
          <p>
            Укажите 2-й параметр измерения:
            <input [ngModel] name="param2" placeholder="параметр 2" #param2>
          </p>
          <p>
            Сколько будет подходов?:
            <input [ngModel] name="count" placeholder="количество" #count>
          </p>
          <button class="button" type="submit">Закончить</button>
      </form>
     </div>
  </div>
</div>

<div class="container_m" *ngIf="!state.getIsMobile()">
  <button class="exit_m" (click)="exit()" routerLink="/">Выйти</button>
  <button class="back_m" (click)="back()"></button>
  <div class="formBackground_m"  *ngIf="user && user.userTraining">
    <h3 class="title1_m">{{user.userTraining[index].trainingName}} </h3>
    <ul class="ul">
      <dl *ngFor="let exercise of user.userTraining[index].userExercises">
        <button class="trainingName_m" (click)="choice(exercise)"  routerLink="/exerciseView/{{user.userName}}">
          {{exercise.exerciseName}}
        </button>
        <button class="buttonDelete" [hidden]="createMode" (click)="deleteExercise(exercise)"></button>
      </dl>
    </ul>

    <button class="button_m" [hidden]="!createMode" (click)="isCreateMode()" >Доб./Уд. Упражнение</button>

    <div class="form_m" [hidden]="createMode">
      <form #myForm="ngForm" (ngSubmit)="finish(exerciseName.value, param1.value, param2.value, +count.value)">

        <p>
            Введите название упражнения:
            <input [ngModel] name="exerciseName" placeholder="название" #exerciseName>
        </p>
        <p>
          Укажите 1-й параметр измерения:
          <input [ngModel] name="param1" placeholder="параметр 1" #param1>
        </p>
        <p>
          Укажите 2-й параметр измерения:
          <input [ngModel] name="param2" placeholder="параметр 2" #param2>
        </p>
        <p>
          Сколько будет подходов?:
          <input [ngModel] name="count" placeholder="количество" #count>
        </p>

        <button class="button_m" type="submit">Закончить</button>
      </form>
    </div>
  </div>
</div>

